#taskbar a.button-bookmarks {
	background: url(images/bookmark.png) 0px 1px/23px no-repeat;
}
#bookmarks {
	display: block;
	position: absolute;
	width: 0;
	bottom: 0;
	transition: 1s;
	overflow: auto;
	top: 60px;
	background-color: #EEF3FA;
	padding-top: 10px;
	margin-bottom: 10px !important;
	border-radius: 5px;
	border: thin solid #b2b8bf;
	font-size: 1.2em;
	right: 0px;
}
#bookmarks html { font-family: Verdana, Arial, Helvetica, sans-serif; }
#bookmarks body, #bookmarks ul, #bookmarks li, #bookmarks p, #bookmarks h1, #bookmarks h2, #bookmarks h3, #bookmarks h4, #bookmarks h5
{
	margin: 0;
	padding: 0;
	background-color: #EEF3FA;
}
#bookmarks body { color: #000000; margin: 0; }
#bookmarks p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}
#bookmarks body { font-size: 0.8em; /* Sets base font size to 16px */ }

#bookmarks ol.tree
{
	padding: 0 0 0 20px;
	width: 90%;
}
#bookmarks li 
{ 
	position: relative; 
	margin-left: 15px;
	list-style: none;
}
#bookmarks li.file
{
	margin-left: -1px !important;
}
#bookmarks li.file a
{
	background: url(images/globe.png) 0 0px no-repeat;
	background-size: 13px;
	color: #000;
	padding-left: 21px;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.9em;
}
#bookmarks li input
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
#bookmarks li input + ol
{
	background: url(images/toggle-small-expand.png) 40px -2px no-repeat;
	margin: -0.938em 0 0 -44px; /* 15px */
	height: 1em;
	text-overflow: ellipsis;
}
#bookmarks li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
#bookmarks li label
{
	background: url(images/folder-horizontal.png) 12px 2px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 34px;
}
#bookmarks li input:checked + ol
{
	background: url(images/toggle-small.png) 40px 3px no-repeat;
	margin: -1.25em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}
#bookmarks li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
#bookmarks li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
