#bmframe{height: 100%;border: 1px solid #bbb;border-top-left-radius: 5px;border-bottom-left-radius: 5px;width: 100%;}
#taskmenu a.bookmarks::before {
    content: "\f02e"}
#bookmarkpane {
    position: absolute;
    transition: 1s;
    top: 58px;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 100;
}
#add {
    background: #e1e1e1;
    bottom: 0;
    position: absolute;
    height: 25px;
    width: 100%;
    border: thin solid #d4dbde;
    right: 0;
    z-index: 100;
    border-right: unset;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 23px;
    cursor: pointer;
}
#add:hover {
    background: #b7b7b7;
}
#bheader {
    background: #f4f4f4;
    top: 0;
    position: absolute;
    height: 18px;
    width: 100%;
    border: thin solid #d4dbde;
    right: 0;
    border-right: unset;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    overflow: hidden;
}
#bookmarks {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 15px;
    transition: 1s;
    overflow: auto;
    top: 15px;
    background-color: #EEF3FA;
    padding-top: 10px;
    margin-bottom: 10px!important;
    right: 0;
    white-space: nowrap;
    border: thin solid #d4dbde;
    border-right: unset;
    border-bottom: unset;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
}
#bookmarks html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#bookmarks body, #bookmarks ul, #bookmarks li, #bookmarks p, #bookmarks h1, #bookmarks h2, #bookmarks h3, #bookmarks h4, #bookmarks h5 {
    margin: 0;
    padding: 0;
    background-color: #EEF3FA;
}
#bookmarks body {
    color: #000;
    margin: 0;
}
#bookmarks dd {
    display: none;
}
#bookmarks p {
    font-size: 1em;
    margin: 0 0 1em;
}
#bookmarks hr {
    display: none;
}
#bookmarks body {
    font-size: .8em;
}
#bookmarks ol.tree {
    padding: 0 0 0 20px;
    width: 90%}
#bookmarks>li.file {
    margin-left: 29px!important;
}
#bookmarks li {
    position: relative;
    margin-left: 15px;
    list-style: none;
}
#bookmarks li.file {
    margin-left: -1px!important;
}
#bookmarks li.file a {
    background: url(images/globe.png) 0 0 no-repeat;
    background-size: 13px;
    color: #000;
    padding-left: 21px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9em;
}
#bookmarks li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
#bookmarks li input+ol {
    background: url(images/toggle-small-expand.png) 40px -2px no-repeat;
    margin: -1.5em 0 0 -44px;
    height: 1em;
    text-overflow: ellipsis;
}
#bookmarks li input+ol>li {
    display: none;
    margin-left: -14px!important;
    padding-left: 1px;
}
#bookmarks li label {
    background: url(images/folder-horizontal.png) 12px 2px no-repeat;
    cursor: pointer;
    display: block;
    padding-left: 35px;
}
#bookmarks li input:checked+ol {
    background: url(images/toggle-small.png) 40px 3px no-repeat;
    margin: -2em 0 0 -44px;
    padding: 1.563em 0 0 80px;
    height: auto;
}
#bookmarks li input:checked+ol>li {
    display: block;
    margin: 0 0 .125em;
}
#bookmarks li input:checked+ol>li:last-child {
    margin: 0 0 .063em;
}